.logo {
    padding-top: 15px;
    padding-bottom: 15px;
}

.btn,
.alert,
.panel {
    border-radius: 0 !important;
}

.hideOverflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 100%;
    display: block;
}

.no-padding {
    padding: 0 !important;
}

.denunciar {
    background-color: lightgreen;
    padding: 3px;
    text-decoration: none;
}

.denunciar:hover {
    background-color: lightgreen;
    padding: 3px;
    text-decoration: none;
    cursor: pointer;
}

.descricao-pg-inicial {
    line-height: 1.5em;
}
